<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title> HeroClix Combo Manager </title>
  
  <meta name="viewport" content="width=device-width">
  <!--Styles --> 
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="lib/vendor/angular-material/angular-material.min.css"/>
  <link rel="stylesheet" href="lib/vendor/angular-material-icons/angular-material-icons.css"/>
  <link rel="stylesheet" href="css/app.css"/>

</head>
<body ng-app="CombinatorApp" layout="column">
  <section 
      layout="row" 
      flex 
      ng-controller="MainCtrl" 
      ng-init="load()">
    <md-sidenav 
      class="md-sidenav-left md-whiteframe-z2 md-dark-theme"
      md-component-id="left">
      <md-toolbar class="md-dark-theme">
        <h2 class="md-toolbar-tools">
          <a href="#" ng-href="#" layout="row" flex="" class="docs-logo">
            <div class="docs-logotype">HeroClix CombiNator</div>
          </a>
          <md-button ng-click="toggleLeft()">
            Toggle left
          </md-button>
        </h2>
      </md-toolbar>
      <md-content class="md-padding">
          <!-- <md-subheader>Comment Actions</md-subheader> -->
          <md-list>
            <md-item >
              <md-button ng-click="listItemClick($index)">
                <md-icon md-svg-src=""></md-icon>
                <span class="md-inline-list-icon-label">Poderes</span>
              </md-button>
            </md-item>
            <md-item >
              <md-button ng-click="listItemClick($index)">
                <md-icon md-svg-src=""></md-icon>
                <span class="md-inline-list-icon-label">Habilidades</span>
              </md-button>
            </md-item>
            <md-item >
              <md-button ng-click="listItemClick($index)">
                <md-icon md-svg-src=""></md-icon>
                <span class="md-inline-list-icon-label">Tabla</span>
              </md-button>
            </md-item>
            <md-item >
              <md-button ng-click="listItemClick($index)">
                <md-icon md-svg-src=""></md-icon>
                <span class="md-inline-list-icon-label">Atributos</span>
              </md-button>
            </md-item>
          </md-list>
      </md-content>  
    </md-sidenav>
    <div calss="backg" 
      layout="column" 
      tabIndex="-1" 
      role="main" 
      flex> 
      <!-- page header -->
      <md-toolbar class="md-dark-theme">
        <h2 class="md-toolbar-tools">
          <md-button ng-click="toggleLeft()">
            Toggle left
          </md-button>  
          Heroclix Tool Box
          <ng-md-icon icon="expand_less" style="fill:white" size="42"></ng-md-icon>
        </h2>
      </md-toolbar>
      <md-content layout-padding layout="row" layout-sm="column">
        <div flex>
          <md-input-container>
            <label>Tipo</label>
            <md-select ng-model="power_type" ng-change="setPowerType(power_type)" >
              <md-option 
                ng-repeat="ptype in powers" 
                value="{{ptype.icon}}">
                <img height="32px" src="img/{{ptype.name}}.png">
                {{ptype.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div flex>
          <md-input-container>
            <label>Poder</label>
            <md-select ng-model="power_name" ng-change="setPower(power_name)">
              <md-option 
                ng-repeat="power in type_powers" 
                value="{{power.name}}">
                <ng-md-icon icon="mode_comment" style="fill:{{power.bcolor}}" size="26"></ng-md-icon>
                {{power.names[lang] }}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </md-content>
      <!-- End page header -->
      <!-- page container -->
      <md-content class="md-padding page" ui-view="content">
        <!-- Subheader -->
        <md-toolbar md-scroll-shrink>
          <div class="md-toolbar-tools"
            style="color:{{power.color || '#FFF'}}; background-color:{{power.bcolor || '#3F51B5'}};">
            <h3>
              <span>{{power.names[lang] || 'Poderes'}} </span>
            </h3>
            <img height="48px" width="48px" class="img_description" ng-if="power_type" src="img/{{power_type| uppercase}}.png">
            <img height="48px" width="48px" ng-if="power" ng-src="img/{{power.action }}.png" alt="img"/>  
            
          </div>
        </md-toolbar>
        <!-- End Subheader -->
        
        <!-- Datos del Poder -->
        <md-content layout="column" class="md-whiteframe-z2" ng-if="power">
          <div layout="column" class="md-whiteframe-z2">
            <p>{{power.description[lang] }}</p>
          </div>
          <div layout="row">
            {{power.extra_actions}} 
          </div>
          <div layout="row">
            <div flex="50" class="block before">
              <h4> Poderes Antes</h4>
              <p 
                class="power" 
                style="color:{{power.color || '#000'}}; background-color:{{power.bcolor || '#FFF'}};" 
                ng-repeat="power in bpowers">
                {{power.action}} -- {{power.names[lang] }} 
              </p>
            </div>
            <div flex="50" class="block after">
              <h4> Poderes Despues</h4>
              <p 
                class="power" 
                style="color:{{power.color || '#000'}}; background-color:{{power.bcolor || '#FFF'}};" 
                ng-repeat="power in apowers">
                {{power.action}} -- {{power.names[lang] }}
              </p>
            </div>
          </div>
          <div class="block with">
            <h4> Poderes Con</h4>
          </div>
        </md-content>
      </md-content>
      <!-- End page container -->
    </div>
  </section>
  <!-- END section -->
  <footer>
    <md-toolbar>
      <div class="">
       Pie de pagina
      </div>
    </md-toolbar>
  </footer>
  <!-- End Footer -->
<!-- Scripts -->
  <!-- Libs -->
  <script type="text/javascript" src="lib/vendor/angular/angular.min.js"></script>
  <script type="text/javascript" src="lib/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="lib/vendor/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="lib/vendor/angular-aria/angular-aria.min.js"></script>
  <script type="text/javascript" src="lib/vendor/angular-material/angular-material.min.js"></script>
  <script type="text/javascript" src="lib/vendor/angular-material-icons/angular-material-icons.min.js"></script>
  <script type="text/javascript" src="lib/vendor/angular-gettext/dist/angular-gettext.min.js"></script>

  <!-- App's Scripts --> 
  <script type="text/javascript" src="modules/app.js"></script>
  <script type="text/javascript" src="modules/controllers.js"></script>
  <script type="text/javascript" src="modules/models.js"></script>
<!-- END Scripts -->
</body>
</html>
