<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title> HeroClix Combo App </title>
  
  <meta name="viewport" content="width=device-width">
  <!--Styles --> 
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
  <link rel="stylesheet" href="lib/vendor/angular-material/angular-material.min.css"/>
  <link rel="stylesheet" href="lib/vendor/angular-material-icons/angular-material-icons.css"/>
  <link rel="stylesheet" href="css/app.css"/>

</head>
<body ng-app="HCToolsApp" layout="column">
  <section 
      layout="row" 
      flex 
      ng-controller="appCtrl"
      ng-init="load()">
    <md-sidenav 
      class="md-sidenav-left md-whiteframe-z2 md-dark-theme"
      md-component-id="left">
      <md-toolbar class="md-dark-theme">
        <h2 class="md-toolbar-tools">
          <a href="#" ng-href="#" layout="row" flex="" class="docs-logo">
            <div class="docs-logotype">HeroClix CombiNator</div>
          </a>
          <md-button ng-click="toggleLeft()">
            Toggle left
          </md-button>
        </h2>
      </md-toolbar>
      <md-content class="md-padding">
          <!-- <md-subheader>Comment Actions</md-subheader> -->
          <md-list>
            <md-item >
              <md-button ng-click="listItemClick($index)">
                <md-icon md-svg-src=""></md-icon>
                <span class="md-inline-list-icon-label">Poderes</span>
              </md-button>
            </md-item>
            <md-item >
              <md-button ng-click="listItemClick($index)">
                <md-icon md-svg-src=""></md-icon>
                <span class="md-inline-list-icon-label">Habilidades</span>
              </md-button>
            </md-item>
            <md-item >
              <md-button ng-click="listItemClick($index)">
                <md-icon md-svg-src=""></md-icon>
                <span class="md-inline-list-icon-label">Tabla</span>
              </md-button>
            </md-item>
            <md-item >
              <md-button ng-click="listItemClick($index)">
                <md-icon md-svg-src=""></md-icon>
                <span class="md-inline-list-icon-label">Atributos</span>
              </md-button>
            </md-item>
          </md-list>
      </md-content>  
    </md-sidenav>
    <div calss="backg" 
      layout="column" 
      tabIndex="-1" 
      role="main"
      flex> 
      <!-- page header -->
      <md-toolbar class="md-dark-theme">
        <h2 class="md-toolbar-tools">
          <md-button ng-click="toggleLeft()">
            Toggle left
          </md-button>  
          Heroclix Tool Box
          <ng-md-icon icon="expand_less" style="fill:white" size="42"></ng-md-icon>
        </h2>
      </md-toolbar>
      <md-content layout-padding layout="row" layout-sm="column" ui-view> </md-content>
    </div>
  </section>
  <!-- END section -->
  <footer>
    <md-toolbar>
      <div class="">
       Pie de pagina
      </div>
    </md-toolbar>
  </footer>
  <!-- End Footer -->
<!-- Scripts -->
  <!-- Libs -->
  <script type="text/javascript" src="lib/vendor/angular/angular.min.js"></script>
  <script type="text/javascript" src="lib/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="lib/vendor/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="lib/vendor/angular-aria/angular-aria.min.js"></script>
  <script type="text/javascript" src="lib/vendor/angular-material/angular-material.min.js"></script>
  <script type="text/javascript" src="lib/vendor/angular-material-icons/angular-material-icons.min.js"></script>
  <script type="text/javascript" src="lib/vendor/angular-gettext/dist/angular-gettext.min.js"></script>

  <!-- Apps Scripts --> 
  <script type="text/javascript" src="modules/app.js"></script>

  <script type="text/javascript" src="modules/config/app.routers.js"></script>
  <script type="text/javascript" src="modules/app/app.controllers.js"></script>
  <script type="text/javascript" src="modules/models.js"></script> 
  <!-- powers Scripts -->
  <script type="text/javascript" src="modules/powers/controllers/power.controller.js"></script>
  <script type="text/javascript" src="modules/powers/power.service.js"></script>
  <!-- END Scripts -->
</body>
</html>
